################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Debug
/.vs/02-Bubble/v16/ipch/AutoPCH
/.vs/02-Bubble/v16/Browse.VC.opendb
/.vs/02-Bubble/v16/Browse.VC.db
