################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Debug
/.vs/02-Bubble/v16
/02-Bubble/Debug/vc142.pdb
/02-Bubble/Debug/vc142.idb
/02-Bubble/Debug/TileMap.obj
/02-Bubble/Debug/Texture.obj
/02-Bubble/Debug/Sprite.obj
/02-Bubble/Debug/ShaderProgram.obj
/02-Bubble/Debug/Shader.obj
/02-Bubble/Debug/Scene.obj
/02-Bubble/Debug/Player.obj
/02-Bubble/Debug/main.obj
/02-Bubble/Debug/Game.obj
/02-Bubble/Debug/02-Bubble.tlog/link.write.1.tlog
/02-Bubble/Debug/02-Bubble.tlog/link.read.1.tlog
/02-Bubble/Debug/02-Bubble.tlog/link.command.1.tlog
/02-Bubble/Debug/02-Bubble.tlog/CL.write.1.tlog
/02-Bubble/Debug/02-Bubble.tlog/CL.read.1.tlog
/02-Bubble/Debug/02-Bubble.tlog/CL.command.1.tlog
/02-Bubble/Debug/02-Bubble.tlog/02-Bubble.lastbuildstate
